demo.bg=
demo.tileset.outside=
demo.tileset.inside=
demo.fg=
demo.menu.bg=
demo.creatures.wolf.icon=
demo.creatures.wolf.battler.party=
demo.creatures.wolf.worldsprite.front=
demo.creatures.wolf.worldsprite.back=
demo.creatures.wolf.worldsprite.left=
demo.creatures.wolf.worldsprite.right=
demo.creatures.littleBunny.icon=
demo.creatures.littleBunny.battler.enemy=
demo.creatures.littleBunny.battler.party=
demo.creatures.littleBunny.worldsprite.front=
demo.creatures.littleBunny.worldsprite.back=
demo.creatures.littleBunny.worldsprite.left=
demo.creatures.littleBunny.worldsprite.right=
demo.creatures.whiteFox.icon=
demo.creatures.whiteFox.worldsprite.front=
demo.creatures.whiteFox.worldsprite.back=
demo.creatures.whiteFox.worldsprite.left=
demo.creatures.whiteFox.worldsprite.right=
demo.creatures.feralCat.icon=
demo.creatures.feralCat.battler.enemy=
demo.creatures.feralCat.battler.party=
demo.creatures.feralCat.worldsprite.front=
demo.creatures.feralCat.worldsprite.back=
demo.creatures.feralCat.worldsprite.left=
demo.creatures.feralCat.worldsprite.right=
demo.weapons.sword.menusprite=
demo.weapons.spear.menusprite=
demo.weapons.hammer.menusprite=
demo.weapons.bow.menusprite=
demo.spells.typesprite.water=
demo.spells.typesprite.fire=
demo.spells.typesprite.lighting=
demo.spells.typesprite.wind=
demo.spells.typesprite.light=
demo.spells.typesprite.dark=